.hero {
  margin: 10px;
  max-width: 300px;
}

.dropdownContainer {
  max-width: 1000px;
  margin: auto;
}

.dropdown {
  width: 90%;
  margin: auto;
}

.lotteries {
  width: 90%;
  max-width: 1000px;
  margin: 10px auto 30px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.lotteryData {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 10px;
}

.lotteryPrize {
  display: flex;
  margin: 0 0 15px;
}

.lotteryItem {
  display: flex;
}

.lotteryButton {
  margin: 0 5px;
}

.lotteryWinner {
  color: #efb810;
}

.buttonsContainer button {
  margin: 5px 0;
}

.noLotteries {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
}
